<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.leo.admin.mapper.MsaUserMapper">

    <resultMap id="UserMap" type="com.leo.admin.pojo.MsaUser">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Long" />
            <arg column="account" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <select id="selectLogin" resultType="com.leo.admin.pojo.MsaUser">
        select * from msa_user
        where msa_user_account = #{account,jdbcType=VARVHAR}
        and msa_user_password = #{password,jdbcType=VARCHAR}
    </select>

    <select id="selectAll" resultType="com.leo.admin.pojo.MsaUser">
        select * from msa_user
    </select>

</mapper>
